@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
/* center container in the middle */

 .container.card {
   padding: 10px;
	 position: relative;
	 margin: auto;
	 overflow: hidden;
	 max-width: 520px;
	 background: #f5f5f5;
	 box-shadow: 5px 5px 15px rgba(201, 162, 2, .5);
	 border-radius: 10px;
}
.card p {
	 font-size:0.8em;
	 color: #ba7e7e;
	 letter-spacing: 1px;
}
.card h1 {
	 font-size: 2em;
	 color: #4e4e4e;
	 margin-top: -5px;
}
.card h2 {
	 color: #c3a1a0;
	 margin-top: -5px;
}
.card img {
	 width: 290px;
	 margin-top: 47px;
}

.card .slideshow-buttons {
	 top: 70%;
	 display: none;
}
 .one, .two, .three, .four {
	 position: absolute;
	 width: 7px;
	 height: 7px;
	 border-radius: 50%;
	 background: #e0c9cb;
}
 .one {
	 left: 22%;
}
 .two {
	 left: 27%;
}
 .three {
	 left: 32%;
}
 .four {
	 left: 37%;
}
 .product {
	 position: absolute;
	 width: 40%;
	 height: 100%;
	 top: 0%;
	 right: 0%;
}
 .desc {
	 text-transform: none;
	 letter-spacing: 0;
	 margin-bottom: 17px;
	 color: #4e4e4e;
	 font-size: 0.7em;
	 line-height: 1.6em;
	 margin-right: 25px;
	 text-align: justify;
}
.card button {
	 background: #d4aa02;
	 padding: 10px;
	 display: inline-block;
	 outline: 0;
	 border: 0;
	 margin: -1px;
	 border-radius: 2px;
	 text-transform: uppercase;
	 letter-spacing: 1px;
	 color: #f5f5f5;
	 cursor: pointer;
}
.card button:hover {
	 background: #c9a202;
	 transition: all 0.4s ease-in-out;
}
 .add {
	 width: 67%;
}
 .like {
	 width: 22%;
}
 .sizes {
	 display: grid;
	 color: #d9aab7;
	 grid-template-columns: repeat(auto-fill, 30px);
	 width: 60%;
	 grid-gap: 4px;
	 margin-left: 20px;
	 margin-top: 5px;
}
 .sizes:hover {
	 cursor: pointer;
}
 .pick {
	 margin-top: 11px;
	 margin-bottom: 0;
	 margin-left: 20px;
}
 .size, .size1, .size2, .size3 {
	 padding: 9px;
	 border: 1px solid #d4aa02;
	 font-size: 0.7em;
	 text-align: center;
}
 .size:hover , .size1:hover , .size2:hover , .size3:hover{
	 background: #d4aa02;
	 color: #f5f5f5;
	 transition: all 0.4s ease-in-out;
}
 .focus {
	 background: #d4aa02;
	 color: #f5f5f5;
}

@media only screen and (max-width: 750px) {
  .card img {
    width: 100% !important;
  }

   .product{
     position: static;
     width: 100%;
   }

   .product .buttons{
     display: flex;
     justify-content: center;
   }

    .sizes{
      display: flex;
      justify-content: center;
      width: 100%;
      margin: 0 !important;
      margin-top: 10px !important;
      margin-bottom: 10px !important;
    }
}
